simv/*
simv
csrc/*
*.mem
*.key
*.out
vis_simv
*.daidir
syn_simv*
synsimv
vcdplus.vpd
vc_hdrs.h
dve_simv
dve_syn_simv
DVEfiles
*.vg
*.rep
*.db
*.chk
*command.log
*.ddc
*.log
*.swp
synth/*
!synth/*.tcl
!synth/dve_sessions
.__afs*
diff_outputs
test_output_files
output.tx*
!correct_outputs/*
