simv/
simv.daidir
csrc/
vcs.key
ucli.key
vis_simv
vis_simv.daidir
syn_simv
syn_simv.daidir
*.out
synsimv
synsimv.daidir
vcdplus.vpd
vcs.key
synprog.out
pipeline.out
writeback.out
vc_hdrs.h
dve_simv
dve_syn_simv
dve_simv.daidir
DVEfiles
dve_syn_simv.daidir
*.vg
*.rep
*.db
*.chk
*command.log
*.out
*.ddc
*.log
milestone1/simv
milestone1/simv.daidir
milestone1/csrc
milestone1/vcs.key
milestone1/ucli.key
milestone1/vis_simv
milestone1/vis_simv.daidir
milestone1/syn_simv
milestone1/syn_simv.daidir
milestone1/*.out
milestone1/synsimv
milestone1/synsimv.daidir
milestone1/vcdplus.vpd
milestone1/vcs.key
milestone1/synprog.out
milestone1/pipeline.out
milestone1/writeback.out
milestone1/vc_hdrs.h
milestone1/dve_simv
milestone1/dve_syn_simv
milestone1/dve_simv.daidir
milestone1/DVEfiles
milestone1/dve_syn_simv.daidir
milestone1/*.vg
milestone1/*.rep
milestone1/*.db
milestone1/*.chk
milestone1/*command.log
milestone1/*.out
milestone1/*.ddc
milestone1/*.log
