simv/*
simv
csrc/*
*.mem
*.key
*.out
vis_simv
*.daidir
syn_simv*
synsimv
vcdplus.vpd
vc_hdrs.h
dve_simv
dve_syn_simv
DVEfiles
*.vg
*.rep
*.db
*.chk
*command.log
*.ddc
*.log
*.swp
synth/*.sv
synth/*.svf
synth/*.pvl
synth/*.syn
synth/*.mr
synth/csrc
synth/*.res
synth/BP/*
synth/BP
synth/pipeline
synth/pipeline/*
synth/RAS
synth/RAS/*
synth/OBQ
synth/OBQ/*
synth/BTB
synth/BTB/*
synth/RS
synth/RS/*
